rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for BEATS collection
    match /beats/{beatId} {
      allow read: if true;
      allow create, update: if request.auth != null;
    }

    // Rules for TRACKS collection
    match /tracks/{trackId} {
      allow read: if true;
      allow create, update: if request.auth != null;

      match /licenses/{licenseId} {
        allow read: if true;
        allow create: if request.auth != null;
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.auth != null;
      }
      
      match /negotiations/{negotiationId} {
        allow read, create: if request.auth != null;
      }
    }

    // Rules for USERS collection
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for PLAYLISTS collection
    match /playlists/{playlistId} {
      allow read, write: if request.auth != null;
    }
  }
}
